.scrollspy {
	height: 94vh;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}

.spinner {
	padding: 0.5rem;
}

img {
	overflow: hidden;
	max-width: 90%;
	animation: rotate 20s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.customCard {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #0B132B;
	background-color: #f1f1f1;
	font-size: 1rem;
}

.customCard>.row {
	display: flex;
	justify-content: center;
	text-align: center;
}

.customCard>.row>div {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.btn {
	font-size: 0.9rem;
	width: 100%;
}

.btn-principal {
	background-color: #0B132B;
	color: white;
}

.btn-facebook {
	background-color: #1877F2;
	color: white;
}

.btn-facebook>fa-icon {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.bigText {
	font-size: 2.5em;
}
