<app-navbar></app-navbar>

<div class="scrollspy rounded-2 vh-100" data-bs-spy="scroll" data-bs-target="#navbar"
	data-bs-root-margin="0px 0px 0px 0px" data-bs-smooth-scroll="true" tabindex="0">

	<div class="main">

		<div class="row align-items-center h-100 ps-5 pe-5">
			<div class="col-sm-12 col-md-6 col-lg-6 spinner d-flex justify-content-center">
				<img src="assets/Spinner.png">
			</div>

			<div class="col-sm-12 col-md-6 col-lg-6">

				<div class="row d-flex align-items-center">

					<div class="col-sm-12 col-md-12 col-lg-6">
						<p class="bigText textCenter">¡Bienvenido de vuelta!</p>
						<p>Inicia sesión y empieza a crear</p>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-6">

						<div [formGroup]="loginForm" (ngSubmit)="handleSubmit()" novalidate>

							<div class="customCard">
								<div class="body">


									<div class="mb-4 has-validation">
										<div class="is-invalid">
											<label for="emailInput" class="form-label">Correo Electrónico</label>
											<input type="email" class="form-control" id="emailInput"
												aria-describedby="nameHelp" placeholder="correo@proveedor.com"
												formControlName="emailInput">

										</div>
										<div class="invalid-feedback"
											*ngIf="loginForm.get('emailInput')?.touched && loginForm.get('emailInput')?.invalid">
											Correo Electrónico no válido
										</div>
									</div>

									<div class="mb-4 has-validation">
										<div class="is-invalid">
											<label for="passwordInput" class="form-label">Contraseña</label>
											<input type="password" class="form-control" id="passwordInput"
												aria-describedby="nameHelp" placeholder="Min 4, Max 35 carácteres"
												formControlName="passwordInput">

										</div>
										<div class="invalid-feedback"
											*ngIf="loginForm.get('passwordInput')?.touched && loginForm.get('passwordInput')?.invalid">
											La conrtaseña debe contener al menos una letra minúscula, una letra
											mayúscula,
											un número y un carácter especial. Debe tener entre 8 y 64 caracteres en
											total. Puede contener letras, números y caracteres especiales. No debe
											contener espacios en blanco ni emojis.
										</div>
									</div>

								</div>


								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-6">
										<button type="button" class="btn btn-principal" [disabled]="!loginForm.valid"
											(click)="handleSubmit()">Inicia
											Sesión</button>
									</div>

									<div class="col-sm-12 col-md-12 col-lg-6">
										<button type="button" class="btn btn-facebook">
											<fa-icon [icon]="faFacebook"></fa-icon>Inicia Sesión
										</button>
									</div>

									<div style="color:#dc3545" *ngIf="authService.registerFailed.length > 0">

										{{ authService.loginFailed }}

									</div>

									<div class="col-sm-12 col-md-12 col-lg-12">
										<hr>
										<p class="fw-light">¿No tienes cuenta?</p>
										<button type="button" class="btn btn-principal"
											routerLink="/auth/register">Registrate</button>
									</div>

								</div>
							</div>

						</div>

					</div>

				</div>

			</div>
		</div>

	</div>
</div>
