<app-navbar></app-navbar>

<div class="container-fluid row">

    <div class="container-fluid col-sm-12 col-md-6 col-lg-6 pt-3 pb-3">
        <div class="box">
            <div class="container">
                <div class="text-center">
                  <img src="../../../../assets/account.svg" class="rounded-circle circle-border" alt="Profile Photo" width="150" height="150">
                  <h3 class="mt-3">{{user.name}}</h3>
                  <h2 class="mb-3">Acerca de mi</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit cum perspiciatis nisi in optio sapiente iusto quia fugiat doloribus quod minima est, accusamus voluptate dolorem iure? Numquam vitae assumenda magni.
                  Eum id amet illo esse, repellat consequatur aliquid dicta eligendi labore nam! Labore ipsum id eligendi exercitationem ut distinctio, natus dignissimos, praesentium corporis, mollitia tempora officiis autem perferendis ducimus quis.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="container-fluid col-sm-12 col-md-6 col-lg-6 pt-3 pb-3">
        <div class="box">
            <h2>Detalles Personales</h2>

            <div class="container">

                <form [formGroup]="form" class="" (ngSubmit)="onSubmit()">
                    <div class="mb-4 row">
                        <label for="name" class="col-sm-2 col-form-label">Nombre: </label>
                        <div class="col-sm-10">
                            <input class="form-control" id="name" type="text" formControlName="name">
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <label for="lastname" class="col-sm-2 col-form-label">Apellido: </label>
                        <div class="col-sm-10">
                            <input class="form-control" id="lastname" type="text" formControlName="lastname">
                        </div>
                    </div>
                    <div class="mb-4 row">
                        <label for="email" class="col-sm-3 col-form-label">Correo electrónico: </label>
                        <div class="col-sm-9">
                            <input class="form-control mt-2" id="email" type="text" formControlName="email">
                        </div>
                    </div>

                    <div class="mb-4 row">
                        <div id="emailHelp" class="form-text">Actualmente posees el plan <strong>{{ user.plan }}</strong>. Si deseas puedes actualizarlo a continuacion.</div>
                        <label for="plan" class="col-sm-2 col-form-label">Plan: </label>
                        <div class="col-sm-10">
                            <select class="form-select" id="plan">
                                <option value="free" disabled selected hidden>Elije un plan</option>
                                <option value="free">Free Plan</option>
                                <option value="x">Plus Plan</option>
                                <option value="y">Premium Plan</option>
                            </select>
                        </div>
                    </div>
                    

                    <div class="mb-4 row">
                        <button routerLink="/app/projectExplorer" class="btn btn-lg btn-secondary mb-3">Cancelar</button>
                        <button class="btn btn-lg btn-custom" type="submit" [disabled]="!form.valid">Confirmar</button>
                    </div>
                </form>

        </div>
    </div>

</div>
