<app-navbar></app-navbar>

<div class="main ps-3 pe-3 pt-5 pb-5">

	<div class="d-flex justify-content-center align-items-center h-100" *ngIf="isLoading === true">
		<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
			<span class="visually-hidden">Cargando...</span>
		</div>
	</div>

	<div class="row align-items-center" *ngIf="isLoading === false">

		<div class="col-sm-12 col-md-12 col-lg-6 ps-5 pe-5">

			<div [formGroup]="updateProfileForm" (ngSubmit)="handleSubmit()" novalidate>

				<div class="customCard">

					<p class="bigText text-center">Actualizar Perfil</p>

					<div class="body">

						<div class="mb-4 has-validation">
							<div class="is-invalid">
								<label for="firstNameInput" class="form-label">Nombres</label>
								<input type="text" class="form-control" id="firstNameInput" aria-describedby="nameHelp"
									placeholder="Juan Antonio" formControlName="firstNameInput">

							</div>
							<div class="invalid-feedback"
								*ngIf="updateProfileForm.get('firstNameInput')?.touched && updateProfileForm.get('firstNameInput')?.invalid">
								Nombres no válidos
							</div>
						</div>

						<div class="mb-4 has-validation">
							<div class="is-invalid">
								<label for="lastNameInput" class="form-label">Apellidos</label>
								<input type="text" class="form-control" id="lastNameInput" aria-describedby="nameHelp"
									placeholder="Pérez Marcía" formControlName="lastNameInput">

							</div>
							<div class="invalid-feedback"
								*ngIf="updateProfileForm.get('lastNameInput')?.touched && updateProfileForm.get('lastNameInput')?.invalid">
								Apellidos no válidos
							</div>
						</div>

						<div class="mb-4 has-validation">
							<div class="is-invalid">
								<label for="emailInput" class="form-label">Correo Electrónico</label>
								<input type="email" class="form-control" id="emailInput" aria-describedby="nameHelp"
									placeholder="correo@proveedor.com" formControlName="emailInput">

							</div>
							<div class="invalid-feedback"
								*ngIf="updateProfileForm.get('emailInput')?.touched && updateProfileForm.get('emailInput')?.invalid">
								Correo Electrónico no válido
							</div>
						</div>

						<div class="mb-4 has-validation">
							<div class="is-invalid">
								<label for="passwordInput" class="form-label">Contraseña</label>
								<input type="password" class="form-control" id="passwordInput"
									aria-describedby="nameHelp" placeholder="Min 4, Max 35 carácteres"
									formControlName="passwordInput">

							</div>
							<div class="invalid-feedback"
								*ngIf="updateProfileForm.get('passwordInput')?.touched && updateProfileForm.get('passwordInput')?.invalid">
								Este campo debe contener al menos una letra minúscula, una letra mayúscula,
								un número y un carácter especial. Debe tener entre 8 y 64 caracteres en
								total. Puede contener letras, números y caracteres especiales. No debe
								contener espacios en blanco ni emojis.
							</div>
						</div>

						<div class="mb-4 has-validation">
							<div class="is-invalid">
								<label for="passwordConfirmInput" class="form-label">Confirme su
									Contraseña</label>
								<input type="password" class="form-control" id="passwordConfirmInput"
									aria-describedby="nameHelp" placeholder="Min 4, Max 35 carácteres"
									formControlName="passwordConfirmInput">

							</div>
							<div class="invalid-feedback"
								*ngIf="updateProfileForm.get('passwordConfirmInput')?.touched && updateProfileForm.get('passwordConfirmInput')?.invalid">
								La Confirmación de Contraseña no coindice
							</div>
						</div>

						<div class="mb-4 has-validation">
							<div class="is-invalid">
								<label for="planInput" class="form-label">Plan</label>

								<select class="form-select" formControlName="planInput">
									<option value="free">Free</option>
									<option value="plus">Plus</option>
									<option value="premium">Premium</option>
								</select>

							</div>

						</div>


					</div>

					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6">
							<button type="button" class="btn btn-principal"
								[disabled]="!updateProfileForm.valid || authService.performingRegister === true"
								(click)="handleSubmit()">Actualizar Perfil</button>
						</div>

						<div style="color:#dc3545" *ngIf="authService.updateProfile.length > 0">

							{{ authService.updateProfile }}

						</div>

					</div>

				</div>

			</div>

		</div>


		<div class="col-sm-12 col-md-12 col-lg-6  ps-5 pe-5">

			<div class="row align-items-center" id="secondSection">

				<div class="col-sm-12 col-md-12 col-lg-12 pb-5">
					<p class="bigText text-center">Descubre Codeverse</p>
					<p class="pt-5">La capa gratuita está muy bien pero revisa nuestros planes y disfruta de toda la
						experiencia que te brinda Coderverse.</p>
				</div>

				<div class="col-sm-12 col-md-4 col-lg-4 pb-3">
					<div class="planCustomCard">
						<div class="tittle">
							Free Plan
						</div>
						<div class="text">
							<ul>
								<li>Almacena hasta 5 proyectos.</li>
								<li>Organiza con libertad tus proyectos.</li>
							</ul>
						</div>

					</div>
				</div>

				<div class="col-sm-12 col-md-4 col-lg-4 pb-3">
					<div class="planCustomCard">
						<div class="tittle">
							Plus Plan
						</div>
						<div class="text">
							<ul>
								<li>Puedes crear hasta 15 proyectos.</li>
								<li>Sigue trabajando mientras no tienes conexión.</li>
								<li>Descarga tus archivos.</li>
							</ul>
						</div>

					</div>
				</div>

				<div class="col-sm-12 col-md-4 col-lg-4 pb-3">
					<div class="planCustomCard">
						<div class="tittle">
							Premium Plan
						</div>
						<div class="text">
							<ul>
								<li>Crea todos los proyectos que quieras.</li>
								<li>Crea tus propios fragmentos de código.</li>
								<li>Comparte el código con tus amigos, trabaja de forma colaborativa.</li>
							</ul>
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>

</div>
