.box{
    height: 80vh;
    border: 1px solid #0B132B;
    border-radius: 10%;
    padding: 5%;
}

.circle-border{
    border: 1px solid #0B132B;
    border-radius: 50%;
}

.btn-custom{
    background-color: #0B132B;
	color: white;
}