<app-navbar [isWorkspace]="workspace"></app-navbar>

<div class="container-fluid">

	<div class="row h-100">

		<div class="col-sm-12 col-md-6 col-lg-6 pt-3 pb-3 pe-1 bg-custom1">

			<div class="editors">
				<app-editor></app-editor>
				<app-editor></app-editor>
				<app-editor></app-editor>
			</div>

		</div>

		<div class="col-sm-12 col-md-6 col-lg-6 pt-3 pb-3 ps-1 bg-custom1">

			<div class="renderZone bg-custom1">

				<div class="window bg-custom">

					<div class="header  whiteText">

						<div class="btn-header">
							Aqui va la pestaña
						</div>

						<button class="btn-header"><fa-icon [icon]="faChevronUp"></fa-icon></button>

					</div>

					<div class="iframeZone">

						<iframe class="bg-light">

						</iframe>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>

