<nav class="navbar sticky-top navbar-expand-md navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">
			<img src="assets/Marca White.png">
		</a>

		<button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">

			<ul class="navbar-nav nav-pills" *ngIf="isWorkspace === true">

				<li class="nav-item">
					<a class="nav-link" (click)="isCollapsed = true">Compartir</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="isCollapsed = true">Snippets</a>
				</li>

			</ul>

			<ul class="navbar-nav nav-pills" *ngIf="isLanding === true">

				<li class="nav-item">
					<a class="nav-link" href="#secondSection" (click)="isCollapsed = true">Planes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="isCollapsed = true">Acerca de nosotros</a>
				</li>

			</ul>

			<ul class="navbar-nav nav-pills" *ngIf="isExplorer === true">

				<li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="isCollapsed = true">Proyecto Nuevo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="isCollapsed = true">Prueba</a>
				</li>

			</ul>

		</div>
	</div>
</nav>
