.scrollspy {
	height: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}

.main > div{
	padding-top: 10%;
	padding-bottom: 10%;
}

.spinner {
	padding: 0.5rem;
}

img {
	overflow: hidden;
	max-width: 90%;
	animation: rotate 20s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.bigText {
	font-size: 2.5em;
}

.bigIcons {
	font-size: 4.5em;
}

.btn-principal {
	background-color: #0B132B;
	color: white;
}

.description {
	/* margin: 4rem; */
}

.buttons>button {
	margin: 1rem;
}

#secondSection{
	padding-left: 5%;
	padding-right: 5%;
}

p{
	margin: 0;
}

.whiteText {
	color: white;
}

.customCard {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	height: 40vh;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #0B132B;
	background-color: #f1f1f1;
	font-size: 1rem;
}

.tittle{
	font-size: 1.5rem;
	font-weight: bold;
}

/* .icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background-color: #3A506B;
	color: #f1f1f1;
} */

hr {
	width: 100%;
	background-color+: #0B132B;
}

.text {
	width: 100%;
	height: 50%;
}
