<app-navbar></app-navbar>

<div class="scrollspy rounded-2 vh-100" data-bs-spy="scroll" data-bs-target="#navbar"
	data-bs-root-margin="0px 0px 0px 0px" data-bs-smooth-scroll="true" tabindex="0">

	<div class="main">

		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6 col-lg-4 spinner d-flex justify-content-center">
				<img src="assets/Spinner.png">
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3">
				<div class="bigText">
					<fa-icon [icon]="faChevronRight"></fa-icon> Codeverse
				</div>
				<div>
					<p>Codeverse es una nueva plataforma donde podrás realizar proyectos de desarrollo web completamente
						gratis.</p>
					<p>Crea tu paǵina web con las tecnologías puntero del desarrollo web:</p>
					<ul>
						<li>Realiza la codificación en HTML para el esqueleto de tu página.</li>
						<li>Dale vida a tú página con Javascript.</li>
						<li>Agrega animaciones hojas de estilo.</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-5 text-center">
				<div class="description bigText">
					<p>Imagina</p>
					<p>Desarrolla</p>
					<p>Comparte</p>
				</div>
				<hr>
				<div class="buttons">
					<button type="button" class="btn btn-principal" routerLink="/auth/login">Inicia Sesión</button>
					<div>¿No tienes cuenta?</div>
					<button type="button" class="btn btn-principal" routerLink="/auth/register">Registrate</button>
				</div>
			</div>

		</div>

		<div class="row align-items-center" id="secondSection">

			<div class="col-sm-12 col-md-12 col-lg-12 pb-5">
				<p class="bigText text-center">Descubre Codeverse</p>
				<p class="pt-5">La capa gratuita está muy bien pero revisa nuestros planes y disfruta de toda la
					experiencia que te brinda Coderverse.</p>
			</div>

			<div class="col-sm-12 col-md-4 col-lg-4 pb-3">
				<div class="customCard">
					<div class="tittle">
						Free Plan
					</div>
					<div class="text">
						<ul>
							<li>Almacena hasta 5 proyectos.</li>
							<li>Organiza con libertad tus proyectos.</li>
						</ul>
					</div>
					<div class="footer">
						<button class="btn btn-principal">Registrate</button>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 col-lg-4 pb-3">
				<div class="customCard">
					<div class="tittle">
						Plus Plan
					</div>
					<div class="text">
						<ul>
							<li>Puedes crear hasta 15 proyectos.</li>
							<li>Sigue trabajando mientras no tienes conexión.</li>
							<li>Descarga tus archivos.</li>
						</ul>
					</div>
					<div class="footer">
						<button class="btn btn-principal">Actualiza</button>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 col-lg-4 pb-3">
				<div class="customCard">
					<div class="tittle">
						Premium Plan
					</div>
					<div class="text">
						<ul>
							<li>Crea todos los proyectos que quieras.</li>
							<li>Crea tus propios fragmentos de código.</li>
							<li>Comparte el código con tus amigos, trabaja de forma colaborativa.</li>
						</ul>
					</div>
					<div class="footer">
						<button class="btn btn-principal">Actualiza</button>
					</div>

				</div>
			</div>

		</div>

	</div>
</div>
