nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	flex: 0
}

nav>img {
	width: 130px;
}

.scrollspy {
	height: 100%;
}

.main>div {
	margin-top: 1rem;
}

.spinner {
	padding: 0.5rem;
}

img {
	max-width: 90%;
	animation: rotate 20s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.bigText {
	font-size: 2.5em;
}

.btn-principal {
	background-color: #0B132B;
	color: white;
}

.description {
	margin: 4rem;
}

/* .buttons {
	margin: 4rem;
} */

.buttons>button {
	margin: 1rem;
}
