.close {
	background-color: #3A506B;
}

.save {
	border-color: #0B132B;
	background-color: #0B132B;
}

.feedback {
	margin-top:0.7em;
	padding-left: 0.5em;
	color: rgba(255, 0, 0, 0.63);
	font-size: 0.8em;
}
