<app-navbar></app-navbar>

<div class="scrollspy rounded-2 vh-100" data-bs-spy="scroll" data-bs-target="#navbar"
	data-bs-root-margin="0px 0px 0px 0px" data-bs-smooth-scroll="true" tabindex="0">

	<div class="main">

		<div class="row align-items-center h-100 ps-5 pe-5">
			<div class="col-sm-12 col-md-6 col-lg-6 spinner d-flex justify-content-center">
				<img src="assets/Spinner.png">
			</div>

			<div class="col-sm-12 col-md-6 col-lg-6">

				<div class="row d-flex align-items-center">

					<div class="col-sm-12 col-md-12 col-lg-6">
						<p class="bigText textCenter">¡Bienvenido a Codeverse!</p>
						<p>Registrate en la plataforma #1 de desarrollo web</p>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-6">

						<div [formGroup]="registerForm" (ngSubmit)="handleSubmit()" novalidate>

							<div class="customCard">
								<div class="body">


									<div class="mb-4 has-validation">
										<div class="is-invalid">
											<label for="firtsNameInput" class="form-label">Nombres</label>
											<input type="text" class="form-control" id="firtsNameInput"
												aria-describedby="nameHelp" placeholder="Juan Antonio"
												formControlName="firtsNameInput">

										</div>
										<div class="invalid-feedback"
											*ngIf="registerForm.get('firtsNameInput')?.touched && registerForm.get('firtsNameInput')?.invalid">
											Nombres no válidos
										</div>
									</div>

									<div class="mb-4 has-validation">
										<div class="is-invalid">
											<label for="lastNameInput" class="form-label">Apellidos</label>
											<input type="text" class="form-control" id="lastNameInput"
												aria-describedby="nameHelp" placeholder="Pérez Marcía"
												formControlName="lastNameInput">

										</div>
										<div class="invalid-feedback"
											*ngIf="registerForm.get('lastNameInput')?.touched && registerForm.get('lastNameInput')?.invalid">
											Apellidos no válidos
										</div>
									</div>

									<div class="mb-4 has-validation">
										<div class="is-invalid">
											<label for="emailInput" class="form-label">Correo Electrónico</label>
											<input type="text" class="form-control" id="emailInput"
												aria-describedby="nameHelp" placeholder="correo@proveedor.com"
												formControlName="emailInput">

										</div>
										<div class="invalid-feedback"
											*ngIf="registerForm.get('emailInput')?.touched && registerForm.get('emailInput')?.invalid">
											Correo Electrónico no válido
										</div>
									</div>

									<div class="mb-4 has-validation">
										<div class="is-invalid">
											<label for="passwordInput" class="form-label">Contraseña</label>
											<input type="text" class="form-control" id="passwordInput"
												aria-describedby="nameHelp" placeholder="Min 4, Max 35 carácteres"
												formControlName="passwordInput">

										</div>
										<div class="invalid-feedback"
											*ngIf="registerForm.get('passwordInput')?.touched && registerForm.get('passwordInput')?.invalid">
											La contraseña debe tener de 4 a 35 caracteres, puede contener letras,
											números.
											No debe contener espacios en blanco, emojis y símbolos.
										</div>
									</div>

									<div class="mb-4 has-validation">
										<div class="is-invalid">
											<label for="passwordConfirmInput" class="form-label">Confirme su
												Contraseña</label>
											<input type="text" class="form-control" id="passwordConfirmInput"
												aria-describedby="nameHelp" placeholder="Min 4, Max 35 carácteres"
												formControlName="passwordConfirmInput">

										</div>
										<div class="invalid-feedback"
											*ngIf="registerForm.get('passwordConfirmInput')?.touched && registerForm.get('passwordConfirmInput')?.invalid">
											La Confirmación de Contraseña no coindice
										</div>
									</div>


								</div>

								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-6">
										<button type="button" class="btn btn-principal" [disabled]="!registerForm.valid"
											(click)="handleSubmit()">Registrarme</button>
									</div>

									<div class="col-sm-12 col-md-12 col-lg-6">
										<button type="button" class="btn btn-facebook">
											<fa-icon [icon]="faFacebook"></fa-icon>Registrarme</button>
									</div>

									<div class="col-sm-12 col-md-12 col-lg-12">
										<hr>
										<p class="fw-light">¿Ya tienes cuenta?</p>
										<button type="button" class="btn btn-principal" routerLink="/auth/login">Inicia
											Sesión</button>
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
		</div>

	</div>
</div>
