<app-navbar [isExplorer]="isExplorer"></app-navbar>

<div class="container-fluid">

	<div class="row h-100">

		<div class="col-sm-12 col-md-4 col-lg-2 p-4 bg-custom2">

			<div class="options">

				<button class="btn">
					<fa-icon [icon]="faArrowUp"></fa-icon>Ir Arriba
				</button>
				<button class="btn">
					<fa-icon [icon]="faFolderPlus"></fa-icon>Nueva Carpeta
				</button>
				<button class="btn">
					<fa-icon [icon]="faFileCode"></fa-icon>Nuevo Proyecto
				</button>
				<button class="btn">
					<fa-icon [icon]="faFolderTree"></fa-icon>Solo Carpetas
				</button>
				<button class="btn">
					<fa-icon [icon]="faCode"></fa-icon>Solo Proyectos
				</button>
				<button class="btn">
					<fa-icon [icon]="faShareNodes"></fa-icon>Proyectos Compartidos
				</button>
			</div>

		</div>

		<div class="col-sm-12 col-md-8 col-lg-10 p-4 bg-custom1">

			<div class="header" role="search">

				<h1>{{ data[0].name }}</h1>

				<div class="search">
					<input class="btn" type="search" placeholder="Search" aria-label="Search">
					<button class="btn">Buscar</button>
				</div>

			</div>
			<hr>

			<div class="table-responsive">
				<table class="table table-bordered table-light table-hover table-stripped align-middle">
					<thead>
						<tr>
							<th></th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Creado</th>
							<th>Modificado</th>
						</tr>
					</thead>
					<tbody>

						<ng-container *ngFor="let d of data">

							<tr *ngFor="let folder of d.folders" routerLink="/">

								<td class="text-center"> <input type="checkbox"> </td>
								<td>{{ folder.name }}</td>
								<td>{{ folder.description }}</td>
								<td>{{ folder.createdAt }}</td>
								<td>{{ folder.modifiedAt }}</td>

							</tr>

							<tr *ngFor="let project of d.projects" routerLink="/">

								<td class="text-center"> <input type="checkbox"></td>
								<td>{{ project.name }}</td>
								<td>{{ project.description }}</td>
								<td>{{ project.createdAt }}</td>
								<td>{{ project.modifiedAt }}</td>

							</tr>

						</ng-container>

					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
