.container-fluid {
	height: 94.2vh;
}

h1 {
	color: white;
}

hr {
	color: white;
}

.bg-custom {
	background-color: #1C2541;
}

.bg-custom1 {
	background-color: #3A506B;
}

.bg-custom2 {
	background-color: #0B132B;
}

.btn {
	text-align: left;
	font-size: 1rem;
	width: 100%;
	background-color: white;
	color: #0B132B;
}

.btn>fa-icon {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.options>button {
	margin-bottom: 2rem;
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.search {
	display: flex;
	align-items: center;
	width: 25rem;
}

.search>button {
	font-size: 0.8rem;
	width: 30%;
	text-align: center;
}

.search>input {
	text-align: center;
	font-size: 0.8rem;
	margin-right: 1rem;
}
