<app-navbar></app-navbar>

<div class="container-fluid">

	<div class="row h-100">

		<div class="col-sm-12 col-md-4 col-lg-2 p-4 bg-custom2">

			<div class="options">
				<button class="btn">
					<fa-icon [icon]="faFolderPlus"></fa-icon>Proyecto Nuevo
				</button>
				<button class="btn">
					<fa-icon [icon]="faFolderTree"></fa-icon>Carpetas
				</button>
				<button class="btn">
					<fa-icon [icon]="faStar"></fa-icon>Favoritos
				</button>
				<button class="btn">
					<fa-icon [icon]="faShareNodes"></fa-icon>Proyectos Compartidos
				</button>
			</div>

		</div>

		<div class="col-sm-12 col-md-8 col-lg-10 p-4 bg-custom1">

			<div class="header" role="search">
				<h1>Título de carpeta</h1>

				<div class="search">
					<input class="btn" type="search" placeholder="Search" aria-label="Search">
					<button class="btn">Buscar</button>
				</div>

			</div>
			<hr>

			<div class="table-responsive">
				<table class="table table-bordered table-light table-hover table-stripped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Tipo</th>
							<th>Creado</th>
							<th>Modificado</th>
						</tr>
					</thead>
					<tbody>

						<tr *ngFor="let d of data">
							<td>{{ d.id }}</td>
							<td>{{ d.name }}</td>
							<td>{{ d.description }}</td>
							<td>{{ d.type }}</td>
							<td>{{ d.createdAt }}</td>
							<td>{{ d.modifiedAt }}</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
